<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Forget Password</title>
    <meta content="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>

    <link th:href="@{css/auth.css}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/auth.css">
</head>
<body id="auth-body">

<div id="auth-content">

    <header>
        <h1>REAP</h1>
        <h6>Can't log in?</h6>
    </header>

    <div class="shadow lg mb-5 bg-white rounded" id="auth-box-password">


        <div id="auth-form">

            <div th:if="${error}" style="margin-top: 12px">
                <div class="alert alert-danger" role="alert">
                    <p>Please Enter Correct Email Id</p>
                </div>
            </div>

            <form th:action="@{/forget-password-process}" action="/forget-password-process" method="post"
                  id="forgetPasswordForm">

                <h6 id="para">We'll send a recovery link to</h6>

                <input type="email" class="form-control custom-input" placeholder="Enter Email" id="email" name="email">
                <button id="submitBtn" type="button" class="btn btn-primary form-control">Send Recovery Link</button>
            </form>
        </div>
    </div>

    <footer>
        <div class="marginTop">
            <a id="linkSelector" th:href="@{/login}">
                Return to login
            </a>
        </div>
    </footer>
</div>
</body>

<script>


    $(document).ready(function () {

        $('#submitBtn').click(function () {

            if (!validateEmail($('#email').val()) || isEmpty($('#email').val())) {
                $('#email').addClass("is-invalid");
                $('#para').text("Please Enter Valid Email Id, We'll send a recovery link to the same");
                $('#para').css("color", "red");
            } else
                $('#forgetPasswordForm').submit()

        });

        $('#email').keyup(function () {
            $(this).removeClass("is-invalid");
            $('#para').text("We'll send a recovery link to");
            $('#para').css("color", "#6b778c");
        });

        function validateEmail($email) {
            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            return emailReg.test($email);
        }

        function isEmpty($email) {
            return $email.length === 0
        }

        $(".alert-danger").fadeTo(2000, 500).slideUp(500, function () {
            $(".alert-danger").alert('close');
        });

    });


</script>

</html>